@font-face {
    font-family: 'Grandstander', cursive;
    src: url("https://cdhanna.github.io/louiepress/fonts/KOMIKAX_.ttf");
}
@font-face {
    font-family: 'LemonTuesday';
    src: url("./fonts/LemonTuesday.otf");
}



html, body {
    height:100%;
    font-family: 'Grandstander';
    margin: 0;
} 
html {

    --title-height: 8vh;
    --main-height: 67vh;
    --contain-height: 20vh;

    background: rgb(82,60,8);
background: linear-gradient(0deg, rgba(82,60,8,1) 3%, rgba(0,0,0,1) 34%);
background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
    background-attachment: fixed;
    /* overflow-y: hidden; */
}

#title {
    height: var(--title-height);
    text-align: center;
    position:relative;
}
#title h1 {
    font-size: calc(var(--title-height) * .5);
    padding-top: 10px;
    font-family: 'LemonTuesday';
}
h3 {
    font-weight: bolder;
    margin: 0;
}

#title h1.shadow {
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    text-shadow: -2px 2px 10px rgba(255, 255, 255, .7), 0px 0px 20px rgba(255, 255, 255, .3);
    margin-top: 0;
}
#about h3, 
#title h1:not(.shadow) {
  
    background-color: #f3ec78;
    background-image: linear-gradient(213deg,#ffd301 45%, #ee5c17 62%);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}


#socials a div:hover{
    background-color: rgba(0,0,0,0);
}
#socials {
    padding-top: 10px;
}
#socials a div {
    margin: 0px 20px;
    display:inline-block;
    transition: all .2s;
    background-color: rgba(0,0,0,1);
    background-blend-mode: luminosity;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 76px;
    height: 76px;
}
#socials a div.linkedin {
    background-image: url('./images/linkedin.png');
}
#socials a div.youtube {
    background-image: url('./images/youtube.png');
}
#socials a div.twitter {
    background-image: url('./images/twitter.png');
}
#louie-main {
    position: absolute;

    overflow: hidden;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    z-index: -1;
    background-image: url('./gifs/louie_launch.gif');

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    clip-path: polygon(15% 25%, 77% 18%, 73% 83%, 10% 80%);
    background-color: rgba(0,0,0,.8);
    background-blend-mode: luminosity;

    transition: all .3s;
}



#shoop-main {
    position: absolute;

    overflow: hidden;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    z-index: -1;
    background-image: url('./gifs/ShoopGif.gif');

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    clip-path: polygon(5% 6%,   94% 6%,   87% 85%, 7% 83%);
    background-color: rgba(0,0,0,.8);
    background-blend-mode: luminosity;

    transition: all .3s;
}

#wfc-main {
    position: absolute;

    overflow: hidden;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    z-index: -1;
    background-image: url('./gifs/wfc.gif');

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    clip-path: polygon(17% 12%,   74% 19%,   80% 79%,   19% 89%);
    background-color: rgba(0,0,0,.8);
    background-blend-mode: luminosity;

    transition: all .3s;
}


article#shoop.active,
article#wfc.active,
article#louie.active {
    width: 100%;
}

article#shoop #shoop-title img,
article#louie #louie-title img {
    max-width: 40%;
    transform: rotate(-4deg);
    transition: all .3s;
    padding-top: 15px;
}
article#shoop #shoop-title img {
    transform: rotate(1deg);
}


article#louie.active #louie-title img {
    max-width: 50%;
    transform: rotate(1deg);
}
article#shoop.active #shoop-title img {
    max-width: 80%;
    transform: rotate(-1deg);
}

article#wfc h2 {
    transition: all .3s;
    font-weight: bold;
    transform: rotate(4deg);

    color: white;
    font-size: 4vh;
    text-align: center;
    text-shadow: 2px 2px black, 0px 0px 12px black;
}
article#wfc.active h2 {
    font-size: 8vh;
    transform: rotate(-1deg);

}

.text-wrap{
    position: absolute;
    bottom: 10%;
    left: 0;
    right: 0;
}
.text-wrap#shoop-wrap{
    position: absolute;
    bottom: 3%;
    left: 0;
    right: 0;
}

.steamWrapper {
    transition: all .2s .1s;

    padding: 0;
    height: 167px;
    position: absolute;
    left: 10%;
    right: 10%;
    top: 40%;
    transform: rotate(-4deg);
    opacity: 0;
}
article#louie.active .steamWrapper {
    transition: all .1s;

    opacity: 1;
}

article#louie.active #louie-text {
    transform: rotate(-3deg);
    text-shadow: 1px 1px 6px black, 0px 0px 3px black, 3px 3px black;

}

.active .text {
    background-color:#2d3139;
    box-shadow: -5px 4px 0px 0px rgb(0 0 0 / 53%), -2px 0px 11px -2px rgb(0 0 0 / 88%);
    padding: 12px;
}

.text{
    transition: all .3s;
    color: white;
    transform: rotate(0deg);
    text-shadow: 2px 1px 4px black, 3px 3px black;
    font-size: 24px;
    max-width: 80%;
    text-align: center;
    margin: auto;
    font-weight: bold;
}


article#louie.active #louie-main {
    clip-path: polygon(0% 0%, 95% 0%, 100% 100%, 3% 100%);
    background-color: rgba(0,0,0,0);
}
article#shoop.active #shoop-main {
    clip-path: polygon(3% 0%, 95% 0%, 100% 100%, 1% 100%);
    background-origin: content-box;
    background-position-y:80%;
    background-color: rgba(0,0,0,0);
}

article#wfc.active #wfc-main {
    clip-path: polygon(3% 0%, 95% 0%, 100% 100%, 1% 100%);
    background-color: rgba(0,0,0,0);
}

section#projects{
    display: flex;
    flex-direction: row;
}

article#louie {
    transition: all .3s;
    z-index: 0;
    position: relative;
    height: var(--main-height);
    /* background-color:red; */
    width:33%;
}

article#shoop {
    transition: all .3s;
    z-index: 0;
    position: relative;
    height: var(--main-height);
    /* background-color:red; */
    width:33%;
}

article#wfc {
    transition: all .3s;
    position: relative;
    z-index: 0;

    height: var(--main-height);
    width:34%;
}

article#about {
    height: var(--contain-height);
    text-align: center;
    color: white;
    width: 70%;
    /* padding-top: 20px; */
    margin: auto;
}

#talks a:hover {
    opacity: 1;
}

@media only screen and (max-width: 800px) {
    section#projects {
        flex-direction: column;
    }
}

@media only screen and (max-width: 800px) {
    article#wfc {
        width: 100%;
        margin: auto;
    }
}
@media only screen and (max-width: 800px) {
    article#louie {
        width: 100%;
        margin: auto;
    }
}
@media only screen and (max-width: 800px) {
    article#shoop {
        width: 100%;
        margin: auto;
    }
}


@media only screen and (max-width: 800px) {
    article#about {
        width: 90%;
        margin: auto;
    }
}
